// Primary Font Colors
$primary-font-color: #575757;  // Main text color
$secondary-font-color: #DB8D33;  // Secondary text color

// Background Colors
$dark-background: #414141;  // Dark background
$darker-background: #150300;  // Darker background